<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931281290571-muhd806m2t1vbc18foouo4fnbifb85dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931281290571-muhd806m2t1vbc18foouo4fnbifb85dv</string>
	<key>API_KEY</key>
	<string>AIzaSyBPrNQ5qF4Zb_82852w0iLgbctcJR9PnJM</string>
	<key>GCM_SENDER_ID</key>
	<string>931281290571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ViewCode.MessageCursoViewCode</string>
	<key>PROJECT_ID</key>
	<string>messageviewcode-92a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>messageviewcode-92a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931281290571:ios:ce2a3082f9c72caa7014ce</string>
</dict>
</plist>